body{
    background-color:lightblue;
}

h1 {
    background-color: rgb(73, 187, 224) ;
    text-align: center; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px; 
    margin-bottom: -10px;
}

h3{
    background-color: rgb(236, 236, 129);
    text-align: center;
}

h2{
    margin-top: 25px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}

p{
    text-align: center;
}

a{
    color: black;
}

img{
    align-items: center;
}

.buttons{
    text-align: center;
}

.welcome{
    background-color: rgb(104, 162, 182);
    padding-top: 1px;
}

.botm{
    text-align: center;
    position: fixed;
    background-color: rgb(236, 236, 129);
    margin: 4px;
    padding: -4px;
    bottom: -4px;
    left: -20px;
    right: -20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ui{
    background-color: lightgray;
}